      <footer class="page-footer font-small blue py-5 text-white">
        <div class="footer-copyright text-center py-5">
          <p>
            <span>Site desenvolvido e mantido por</span> <br />
            <a href="https://pt.stackoverflow.com/users/95771/cmte-cardeal" target="_blank" class="desenvolvedor"> Iglan Cardeal</a>
            <br />
            <span data-js="year"></span>
          </p>
        </div>
        <script>
          let year = document.querySelector('[data-js="year"]');
          year.textContent = new Date().getFullYear();
        </script>
      </footer>
    </div>
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
