<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Iglan Cardeal">
  <meta name="description" content="Web app para envio de emails. Projeto para disciplina Redes de Computadores 2">
  <title><%= pageTitle %></title>
  <link
      rel="shortcut icon"
      href="img/favicon.png"
      id="velpac"
      type="image/x-icon"
    />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/css/main.css">