<nav class=" navbar navbar-expand-lg navbar-dark">
  <p class="navbar-brand">
    <span class="email-img">
      <img src="img/email2.png" alt="email-img">
    </span>
    Projeto Redes II
  </p>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ml-auto">
      <% if (isLogged) { %>
        <a href="/home" class="p-3 nav-item nav-link text-white <%= path === 'inicio' ? 'ativo' : '' %>">Início</a>
        <a href="/historico" class="p-3 nav-item nav-link text-white <%= path === 'historico' ? 'ativo' : '' %>">Histórico</a>
      <% } %>
      
      <a href="/sobre" class="p-3 nav-item nav-link text-white <%= path === 'sobre' ? 'ativo' : '' %>">Sobre</a>

      <% if (isLogged) { %>
        <form action="/logout" method="POST">
          <%- include('./_csrf.ejs') %>
          <button class="logout-btn p-3 nav-item nav-link text-white">Logout</button>
        </form>
      <% } %>
    </div>
  </div>
</nav>