  <%- include('./includes/head.ejs') %>

  </head>
  <body>
      <div id="main-div" class="container col-12 col-sm-10 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
      <nav class=" navbar navbar-expand-lg navbar-dark">
        <p class="navbar-brand">
          <span class="email-img">
            <img src="img/email2.png" alt="email-img">
          </span>
          Projeto Redes II
        </p>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ml-auto">
            <a href="/sobre" class="nav-item nav-link text-white">Sobre</a>
          </div>
        </div>
      </nav>

      <div class="login-form text-white">
        <h3 class="text-danger text-center py-3">
          <%= error %>
        </h3>
        <form
          action="/login"
          method="POST"
        >
          <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="ex: admin (por padrao)"
              name="user"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Senha"
              name="password"
            />
          </div>
          <input
            type="hidden"
            name="_csrf"
            data="token"
            value="<%=csrfToken%>"
          />
          <button type="submit" class="btn btn-primary btn-entrar">
            Entrar
          </button>
        </form>
      </div>

      <%- include('./includes/footer.ejs') %>