  <%- include('./includes/head.ejs') %>

  </head>
  <body>
    <div id="main-div" class="container col-12 col-sm-10 col-md-8 col-lg-4">
      
      <%- include('./includes/nav.ejs') %>

      <div class="login-form text-white text-center">
        <h2>
          Email processado. Verifique o historico.
        </h2>
        <a href="/home" class="btn btn-primary btn-entrar mt-5">
          Voltar
        </a>
      </div>

    </div>

    <%- include('./includes/footer.ejs') %>